<form [formGroup]="articleForm" novalidate (ngSubmit)="save(articleForm)">

  <div formArrayName="authors">
    <div
      class="author"
      *ngFor="let author of articleForm.controls.authors.controls; let i = index"
    >
      <div [formGroupName]="i">
        <app-form-author
          [group]="articleForm.controls.authors.controls[i]"
          [remove]="removeAuthor"
          [deletable]="authorsDeletable"
          [id]="i"
        ></app-form-author>
      </div>
    </div>
    <button type="button" (click)="addAuthor()">Добавить автора</button>
  </div>

  <label>
    Название
    <input type="text" formControlName="name">
  </label>
  <label>
    Город
    <input type="text" formControlName="city">
  </label>
  <label>
    Издатель
    <input type="text" formControlName="publisher">
  </label>
  <label>
    Год
    <input type="number" formControlName="year">
  </label>
  <label>
    Кол-во страниц
    <input type="number" formControlName="pages">
  </label>
  <button type="submit" [disabled]="!articleForm.valid">Добавить</button>
</form>
