<form [formGroup]="articleForm" novalidate (ngSubmit)="save(articleForm)">

  <div formArrayName="authors">
    <div
      class="author"
      *ngFor="let author of articleForm.controls.authors.controls; let i = index"
    >
      <div [formGroupName]="i">
        <label>
          Фамилия
          <input type="text" formControlName="lastName">
        </label>
        <label>
          Имя
          <input type="text" formControlName="firstName">
        </label>
        <label>
          Отчество
          <input type="text" formControlName="middleName">
        </label>
        <button
          *ngIf="articleForm.controls.authors.controls.length > 1"
          (click)="removeAuthor(i)"
        >
          Удалить автора
        </button>
      </div>
    </div>
    <button (click)="addAuthor()">Добавить автора</button>
  </div>

  <label>
    Название
    <input type="text" formControlName="name">
  </label>
  <label>
    Город
    <input type="text" formControlName="city">
  </label>
  <label>
    Издатель
    <input type="text" formControlName="publisher">
  </label>
  <label>
    Год
    <input type="number" formControlName="year">
  </label>
  <label>
    Кол-во страниц
    <input type="number" formControlName="pages">
  </label>
  <button type="submit" [disabled]="!articleForm.valid">Добавить</button>
</form>
