<div [formGroup]="group" class="author">
    <label class="form-item">
      <input class="input" type="text" formControlName="lastName" autofocus required>
      <span class="label">Фамилия</span>
    </label>
    <label class="form-item">
      <input class="input" type="text" formControlName="firstName" required>
      <span class="label">Имя</span>
    </label>
    <label class="form-item">
      <input class="input" type="text" formControlName="middleName" required>
      <span class="label">Отчество</span>
    </label>
    <button
      *ngIf="isDeletable"
      (click)="remove(id)"
      type="button"
      class="button button-warning"
    >
      Удалить автора
    </button>
  </div>
