@import '../../vars';

:host {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid $accentColor;
  color: $accentColor;
  padding: 0 35px 25px;
}

.title {
  margin: 0;
  font-size: 65px;
}

.subtitle {
  display: block;
  margin-top: 10px;
}

.version {
  font-size: 9px;
  margin-top: 5px;
}
  

  

